html, body {
	margin: 0;
	padding: 0;
	
}

.block {
	background-color: #3b4039;
	margin: 10px;
	box-shadow: 0px 0px 5px 5px black;
	padding:1px;
	
}

body {
	color: lightgray;
	background-color: #2a2a2e;
}




.gameButtons {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding: 20px;
	border-radius: 15px;
	border: none;
	text-align: center;
	justify-content: center;

	background-color: #660000; /* Dunkles Rot */
	color: white;
	cursor: pointer;
	font-family: Arial, sans-serif;
	box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.8), 0px 0px 20px 5px rgba(255, 0, 0, 0.6); /* Roter Inset-Schatten mit äußerem Schatten */
	margin: 2px; 
	touch-action: none;
  }
  
  /* Button-Stile für iPhone-Geräte */
  @media only screen and (max-width: 375px) and (max-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.gameButtons {
	  /* Spezifische Stile für iPhone-Geräte */
	  background-color: #550000; /* Dunkleres Rot */
	  color: white;
	  font-size: 16px;
	  padding: 20px;
	  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.8), 0px 0px 20px 5px rgba(255, 0, 0, 0.6); /* Roter Inset-Schatten mit äußerem Schatten */
	  margin: 2px; 
	  touch-action: none;
	}
  }
  
  
  .progress-container{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  

#uhr {
	text-align: right;
}

h1 {
	text-align: center;
	font-size: 15px;
}

h2 {
	text-align: center;
	font-size: 25px;
	margin:5px;
}

p{
	text-align: center;
	font-size: 12px;
	margin:0px;
}

.gameButtons:hover {
	box-shadow: 0px 0px 5px 5px white;
}

.containerFlex {
	display: flex;
	justify-content: center;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 48px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}






.monitorBig {
	padding: 30px;
	background-color: #1a1a1a; /* Dunkles Grau */
	color: #cccccc; /* Hellgrau */
	box-shadow: inset 0px 0px 20px 10px #000000; /* Dunkler Schatten */
	border-radius: 15px;
}
  


.containerCenter {
	justify-content: center;
	align-items: center;
	text-align: center;
  }
  
  .flex-container {
	display: flex;
  }
  
  
  .card {

	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
  }
  

img{
	max-width: 100px;
	border-radius: 15px;
	box-shadow: 0px 0px 2px 2px #000000;
}

  

.containerFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .containerBar {
	width: 100px;
	height: 10px;
	background-color: lightgray;
	margin-right: 5px; /* Add margin to create spacing between bars */
	margin-bottom: 10px; /* Add margin to create spacing between rows */
	font-size: 12px;  
	padding: 2px;
	text-align: center;
	line-height: 1;
	border: 1px solid #000000;
	}
  
  .level {
	background-color: rgb(65, 80, 79);
  }
  
  .xp {
	background-color: #598b5b;
	color: white;
  }
  
  .food {
	background-color: #9c453f;
	color: white;
	width: var(--food, 100%);
	transition: width 0.3s ease;
	margin-left: 5px;
	}
  

  
  .coins {
	background-color: #5d5e5d;
	color: white;
  }
  
  .bottles {
	background-color: #2471b1;
	color: white;
  }
  
  #storyButton{
	width: 300px;
  }