html, body {
	margin: 0;
	padding: 0;
}

.block {
	background-color: #3b4039;
	margin: 30px;
	box-shadow: 0px 0px 5px 5px black;
	width: 90%;
	padding:25px;
}

body {
	color: lightgray;
	background-color: #2a2a2e;
}




/* Gemeinsame Button-Stile */
.gameButtons {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding: 10px;
	border-radius: 15px;
	border: 5px solid black;
	text-align: center;
	justify-content: center;
	width: 200px;
	background-color: maroon;
	cursor:pointer;
  }
  
  /* Button-Stile für iPhone-Geräte */
  @media only screen and (max-width: 375px) and (max-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.gameButtons {
	  /* Spezifische Stile für iPhone-Geräte */
	  background-color: lightblue;
	  color: white;
	  font-size: 16px;
	  width: 150px;
	}
  }
  

#uhr {
	text-align: right;
}

h1 {
	text-align: center;
	font-size: 50px;
}

.gameButtons:hover {
	box-shadow: 0px 0px 5px 5px white;
}

.containerFlex {
	display: flex;
	justify-content: center;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 48px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

.containerBar {
	border: 2px solid black;
	margin: 2px;
	width: 500px;
}

.skills {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
	width: 100%;
}

.xp {
	width: var(--experience, 10%); /* Set the width based on the experience variable */
	background-color: chocolate;
	border: 1px solid black;
}

.food {
	width: var(--hunger, 90%); /* Set the width based on the hunger variable */
	background-color: firebrick;
	border: 1px solid black;
}

.mood {
	width: var(--mood, 20%); /* Set the width based on the mood variable */
	background-color: darkkhaki;
	border: 1px solid black;
}

.coins, .level, .bottles {
	 /* Set the width based on the coins variable */
	background-color: rgb(118, 143, 141);
}


.monitorBig {
	padding: 100px;
	width: 100vh;
	background-color: #000000;
	color: aliceblue;
}


.containerCenter {
	display: flex;
	justify-content: center;
  }
  
  .flex-container {
	display: flex;
  }
  
  
  .card {

	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
  }
  